@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{

  font-family:'Kumbh Sans', sans-serif;
  font-weight: 800 ; 

}

.overlay{
  

  opacity: 75%;


  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  
  border: #ff7d1a;
}
.react-lightbox-overlay {
  background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
}
/* Example of changing the color of the close button */
.react-lightbox-close {
  color: red; /* Change color here */
}
